@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(120deg, black, #3a7ca5, black);
}

h1 a {
    color: white;
    margin-left: 50px;
    text-decoration: none;
}

h2 {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

section p {
    color: black;
}

.primerSection {
    background-image: radial-gradient(rgb(238, 238, 188), rgba(136, 136, 227, 0.309));
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: 1px black solid;
    padding: 10px;
    margin: 30px;
}

.imagenLogo4 {
    padding: 10px;
    margin: 30px;
}

ul li a:hover {
    color: black;
}

li {
    display: inline;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

ol {
    color: white;
    background-image: linear-gradient(120deg, black, rgba(255, 255, 255, 0.378));
    text-decoration: none;
    text-align: center;
    border: 1px black solid;
    padding: 10px;
    margin: 30px;
}

.cambiamosDisplay {
    display: block;
}

img {
    width: 400px;
}

.imagenLogo {
    width: 500px;
    padding: 10px;
}

.mapaUbicacion {
    padding: 10px;
    width: 500px;
    height: 500px;
}

.fondoContacto {
    padding: 30px;
    margin: 30px;
    background-image: linear-gradient(120deg, black, rgba(255, 255, 255, 0.378));
    color: white;
    width: 500px;
    font-family: 'Poppins', sans-serif;
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}

textarea {
    min-height: 50px;
    max-height: 150px;
    max-width: 100%;
}

#botonEnviar,
#botonBorrar {
    background-color: #3a7ca5;
    color: white;
    padding: 20px;
}

#botonEnviar,
#botonBorrar:hover {
    cursor: pointer;
}

/*BOTON WSP*/
.conteinerBoton {
    background-color: rgba(59, 172, 59, 0.47);
    border: 1px solid black;
    position: fixed;
    z-index: 2;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
}

.conteinerBoton:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.boton {
    border-radius: 50%;
    width: 100px;
    transition: ease 1s;
}

/*grid*/
.grillaProducto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "titulo titulo"
        "imagen1 imagen2"
        "imagen3 imagen4"
        "imagen5 imagen6"
        "imagen7 imagen8"
        "imagen9 imagen9"
        "footer footer"
    ;
    gap: 20px;
}

header {
    background-image: linear-gradient(120deg, black, rgba(255, 255, 255, 0.378));
    position: sticky;
    top: 0;
    z-index: 2;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.titulo {
    grid-area: titulo;
}

.estiloPrendas {
    display: flex;
    justify-content: center;
}

.imagen1 {
    grid-area: imagen1;
}

.imagen2 {
    grid-area: imagen2;
}

.imagen3 {
    grid-area: imagen3;
}

.imagen4 {
    grid-area: imagen4;
}

.imagen5 {
    grid-area: imagen5;
}

.imagen6 {
    grid-area: imagen6;
}

.imagen7 {
    grid-area: imagen7;
}

.imagen8 {
    grid-area: imagen8;
}

.imagen9 {
    grid-area: imagen9;
}

footer {
    grid-area: footer;
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

/*grid index*/
.grillaIndex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "primerSection primerSection"
        "imagenLogo4 imagenLogo4"
        "footer footer"
    ;
    gap: 20px;
}

main {
    grid-area: main;
}

.primerSection {
    grid-area: primerSection;
}

.estiloIndex {
    display: flex;
    justify-content: center;
}

.imagenLogo4 {
    grid-area: imagenLogo4;
}

/*grid ubucacion*/
.grillaUbicacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "imagenUbicacion imagenUbicacion"
        "mapaUbi mapaUbi"
        "footer footer"
    ;
    gap: 20px;
}

.estiloUbicacion {
    display: flex;
    justify-content: center;
}

.imagenUbicacion {
    grid-area: imagenUbicacion;
}

.mapaUbi {
    grid-area: mapaUbi;
}

/*grid Preguntas*/
.grillaPreguntas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "cajaPreguntas cajaPreguntas"
        "imagenPreguntas1 imagenPreguntas1"
        "footer footer"
    ;
    gap: 20px;
}

.estiloPreguntas {
    display: flex;
    justify-content: center;
}

.cajaPreguntas {
    grid-area: cajaPreguntas;
}

.imagenPreguntas1 {
    grid-area: imagenPreguntas1;
}

/*grid contacto*/
.grillaContacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "main main"
        "cajaContacto cajaContacto"
        "imagenContacto1 imagenContacto1"
        "footer footer"
    ;
    gap: 20px;
}

.estiloContacto {
    display: flex;
    justify-content: center;
}

.cajaContacto {
    grid-area: cajaContacto;
}

.imagenContacto1 {
    grid-area: imagenContacto1;
}

@media (min-width: 320px) {

    /*media para Index*/
    .grillaIndex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "primerSection"
            "imagenLogo4"
            "footer"
        ;
        gap: 20px;
    }

    /*media para Ubicacion*/
    .grillaUbicacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "imagenUbicacion"
            "mapaUbi"
            "footer"
        ;
        gap: 20px;
    }

    /*media para productos*/
    .grillaProducto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "titulo"
            "imagen1"
            "imagen2"
            "imagen3"
            "imagen4"
            "imagen5"
            "imagen6"
            "imagen7"
            "imagen8"
            "imagen9"
            "footer"
        ;
        gap: 20px;
    }

    /*media para Preguntas*/
    .grillaPreguntas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "cajaPreguntas"
            "imagenPreguntas1"
            "footer"
        ;
        gap: 20px;
    }

    /*media para Contacto*/
    .grillaContacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "cajaContacto"
            "imagenContacto1"
            "footer"
        ;
        gap: 20px;
    }

    ul li a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 480px) {

    /*media para Index*/
    .grillaIndex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "primerSection"
            "imagenLogo4"
            "footer"
        ;
        gap: 20px;
    }

    /*media para Ubicacion*/
    .grillaUbicacion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "imagenUbicacion"
            "mapaUbi"
            "footer"
        ;
        gap: 20px;
    }

    /*media para productos*/
    .grillaProducto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "titulo"
            "imagen1"
            "imagen2"
            "imagen3"
            "imagen4"
            "imagen5"
            "imagen6"
            "imagen7"
            "imagen8"
            "imagen9"
            "footer"
        ;
        gap: 20px;
    }

    /*media para Preguntas*/
    .grillaPreguntas {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "cajaPreguntas"
            "imagenPreguntas1"
            "footer"
        ;
        gap: 20px;
    }

    /*media para Contacto*/
    .grillaContacto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "main"
            "cajaContacto"
            "imagenContacto1"
            "footer"
        ;
        gap: 20px;
    }

    ul li a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 600px) {

    /*media para Index*/
    .grillaIndex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "primerSection primerSection"
            "imagenLogo4 imagenLogo4"
            "footer footer"
        ;
        gap: 20px;
    }

    /*media para Ubicacion*/
    .grillaUbicacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "imagenUbicacion imagenUbicacion"
            "mapaUbi mapaUbi"
            "footer footer"
        ;
        gap: 20px;
    }

    /*media para productos*/
    .grillaProducto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "titulo imagen1"
            "imagen2 imagen3"
            "imagen4 imagen5"
            "imagen6 imagen7"
            "imagen8 imagen9"
            "footer footer"
        ;
        gap: 20px;
    }

    /*media para Preguntas*/
    .grillaPreguntas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "cajaPreguntas cajaPreguntas"
            "imagenPreguntas1 imagenPreguntas1"
            "footer footer"
        ;
        gap: 20px;
    }

    /*media para Contacto*/
    .grillaContacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "cajaContacto cajaContacto"
            "imagenContacto1 imagenContacto1"
            "footer footer"
        ;
        gap: 20px;
    }

    ul li a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 768px) {

    /*media para Index*/
    .grillaIndex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "primerSection primerSection"
            "imagenLogo4 imagenLogo4"
            "footer footer"
        ;
        gap: 20px;
    }

    /*media para Ubicacion*/
    .grillaUbicacion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "imagenUbicacion imagenUbicacion"
            "mapaUbi mapaUbi"
            "footer footer"
        ;
        gap: 20px;
    }

    /*media para productos*/
    .grillaProducto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "titulo imagen1"
            "imagen2 imagen3"
            "imagen4 imagen5"
            "imagen6 imagen7"
            "imagen8 imagen9"
            "footer footer"
        ;
        gap: 20px;
    }

    /*media para Preguntas*/
    .grillaPreguntas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "cajaPreguntas cajaPreguntas"
            "imagenPreguntas1 imagenPreguntas1"
            "footer footer"
        ;
        gap: 20px;
    }

    /*media para Contacto*/
    .grillaContacto {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "cajaContacto cajaContacto"
            "imagenContacto1 imagenContacto1"
            "footer footer"
        ;
        gap: 20px;
    }

    ul li a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px) {

    /*media para index*/
    .grillaIndex {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "main main main"
            "primerSection primerSection primerSection"
            "imagenLogo4 imagenLogo4 imagenLogo4"
            "footer footer footer"
        ;
        gap: 20px;
    }

    /*media para ubicacion*/
    .grillaUbicacion {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header"
            "main main main main"
            "imagenUbicacion imagenUbicacion mapaUbi mapaUbi"
            "footer footer footer footer"
        ;
        gap: 20px;
    }

    /*media para producto*/
    .grillaProducto {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "titulo titulo titulo"
            "imagen1 imagen2 imagen3"
            "imagen4 imagen5 imagen6"
            "imagen7 imagen8 imagen9"
            "footer footer footer"
        ;
        gap: 20px;
    }

    /*media para preguntas*/
    .grillaPreguntas {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "main main main"
            "cajaPreguntas cajaPreguntas cajaPreguntas"
            "imagenPreguntas1 imagenPreguntas1 imagenPreguntas1"
            "footer footer footer"
        ;
        gap: 20px;
    }

    /*media para contacto*/
    .grillaContacto {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "main main main"
            "cajaContacto cajaContacto cajaContacto"
            "imagenContacto1 imagenContacto1 imagenContacto1"
            "footer footer footer"
        ;
        gap: 20px;
    }

    ul li a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 1200px) {

    /*media para index*/
    .grillaIndex {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "main main main"
            "primerSection primerSection primerSection"
            "imagenLogo4 imagenLogo4 imagenLogo4"
            "footer footer footer"
        ;
        gap: 20px;
    }

    /*media para ubicacion*/
    .grillaUbicacion {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "header header header header"
            "main main main main"
            "imagenUbicacion imagenUbicacion mapaUbi mapaUbi"
            "footer footer footer footer"
        ;
        gap: 20px;
    }

    /*media para producto*/
    .grillaProducto {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "titulo titulo titulo"
            "imagen1 imagen2 imagen3"
            "imagen4 imagen5 imagen6"
            "imagen7 imagen8 imagen9"
            "footer footer footer"
        ;
        gap: 20px;
    }

    /*media para preguntas*/
    .grillaPreguntas {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "main main main"
            "cajaPreguntas cajaPreguntas cajaPreguntas"
            "imagenPreguntas1 imagenPreguntas1 imagenPreguntas1"
            "footer footer footer"
        ;
        gap: 20px;
    }

    /*media para contacto*/
    .grillaContacto {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "main main main"
            "cajaContacto cajaContacto cajaContacto"
            "imagenContacto1 imagenContacto1 imagenContacto1"
            "footer footer footer"
        ;
        gap: 20px;
    }

    ul li a {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}